body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@font-face {
  font-family: 'enigmaticregular';
  src: url('Enigma__2-webfont.woff') format('woff');
}

@font-face {
  font-family: 'sansation_lightlight';
  src : url('Sansation-Light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'circulat';
  src: url('./circulat.woff') format('woff')
}

@keyframes fade {
  100% { opacity: 0; }
  0%   { opacity: 0.8; }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mimic {
  margin-left: 28px;
  margin-top: -162px;
  position: absolute;
  z-index: 1;
}

.langkahwrapper{
  margin-top: 20px;
}

.bahanwrapper {
  margin-top: 20px;
}

.gobot {
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-family: 'enigmaticregular';
  color: #adadad;
  line-height: 45px;
  text-align: center;
  background-color: white;
  margin-left: 410px;
  margin-top: -115px;
  position: absolute;
  border-radius: 13px;
  z-index: -1;
}

.editlangkah {
  width: 40px;
  height: 52px;
  font-size: 20px;
  font-family: 'enigmaticregular';
  color: white;
  line-height: 57px;
  text-align: center;
  background: #4d2e9b;
  margin-left: 879px;
  margin-top: -113px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 5px;
  opacity: 0.85;
  position: absolute;
}

.hapuslangkah {
  opacity: 0.85;
  border: 1px solid white;
  width: 40px;
  height: 52px;
  font-size: 20px;
  font-family: 'enigmaticregular';
  color: white;
  line-height: 55px;
  text-align: center;
  background: #ff4f4f;
  margin-left: 879px;
  margin-top: -56px;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
}

.simpanlangkah {
  opacity: 0.85;
  width: 40px;
  height: 115px;
  font-size: 20px;
  font-family: 'enigmaticregular';
  color: white;
  line-height: 115px;
  text-align: center;
  background: #4d2e9b;
  margin-left: 500px;
  margin-top: 0px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
}

.lala {
  word-wrap: break-word;
  line-height: 1.42857143;
  padding: 10px 10px;
  cursor: context-menu;
  width: 433px;
  height: 115px;
  font-size: 18px;
  font-family: 'enigmaticregular';
  color: #4d2e9b;
  background: white;
  margin-left: 442px;
  border-radius: 12px;
  margin-top: 0px;
  border-bottom: 1px solid #cecece;
}

#bahanbahanform{
  margin-left: 0px;
  margin-top: 0px;
}

#prosesform {
  margin-left: 0px;
  position: absolute;
}

#formwidth3 {
  width: 475px;
  height: 115px;
  font-size: 17px;
  position: absolute;
}

.tambahlangkah {
  cursor: pointer;
  background-color: black;
  height: 115px;
  width: 525px;
  position: absolute;
  text-align: center;
  line-height: 115px;
  color: white;
  z-index: 0;
  font-size: 30px;
  margin-left: 23px;
  border: 1px solid white;
  font-family: 'enigmaticregular';
  border-radius: 5px;
  background-image: linear-gradient(to right, #1b007c, #4d2e9b, #7757bb, #9f81db, #c7adfb);

}

.deletebahan{
  width: 48px;
  opacity: 0.85;
  height: 48px;
  font-size: 20px;
  font-family: 'enigmaticregular';
  color: white;
  line-height: 49px;
  text-align: center;
  background: #ff4f4f;
  margin-left: 445px;
  margin-top: -47px;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
}

.editbahan{
  width: 48px;
  border: 1px solid white;
  opacity: 0.85;
  height: 48px;
  font-size: 20px;
  font-family: 'enigmaticregular';
  color: white;
  line-height: 49px;
  text-align: center;
  background: #4d2e9b;
  margin-left: 395px;
  margin-top: -47px;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
}

.gantifoto {
  opacity: 0.9;
  width: 395px;
  height: 66px;
  font-size: 25px;
  font-family: 'enigmaticregular';
  color: white;
  line-height: 68px;
  text-align: center;
  background: #4d2e9b;
  margin-left: -21px;
  margin-top: -32px;
  cursor: pointer;
  border-radius: 20px;
}

.buangfoto {
  cursor: pointer;
  font-family: 'enigmaticregular';
  opacity: 0.9;
  width: 395px;
  height: 66px;
  font-size: 25px;
  color: white;
  line-height: 68px;
  text-align: center;
  background: #ff4747;
  margin-left: 378px;
  margin-top: -66px;
  border-radius: 20px;
}

.advice {
  color: #9e9e9e;
  font-size: 16px;
  font-family: 'sansation_lightlight';
  margin-left: 165px;
}

.imgpos {
  height: 500px;
  width: 800px;
}

.thumbnailpreview {
  border-radius: 20px;
  height: 426px;
  width: 796px;
  margin-top: 72px;
  margin-left: 2px;
}

.klikupload {
  color: #c6c6c6;
  font-size: 20px;
  font-family: 'enigmaticregular';
  margin-left: 280px;
}

#camera {
  cursor: pointer;
  font-size: 130px;
  color: #c6c6c6;
  margin-top: 140px;
  margin-left: 310px;
}

.thumbfoto{
  border-radius: 20px;
  height: 500px;
  width: 800px;
  background-color: white;
  margin-left: 555px;
  margin-top: 150px;
}

.openspace{
  height: 80px;
}

.surrat20 {
  margin-top: 80px;
  height: 200px;
  z-index: -5;
}

.penjalin{
  background-image: radial-gradient(circle, #9d7ab9, #885eb1, #7042a9, #5526a1, #300199);
  border-radius: 20px;
  margin-top: -20px;
  z-index: -2;
  opacity: 0.9;
  height: auto;
  width: 800px;
  margin-left: 555px;
  position: absolute;
  border-left: 2px solid white;
  border-right: 2px solid white;

}

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

.lili{

  cursor: context-menu;
  width: 430px;
  height: 48px;
  font-size: 17px;
  font-family: 'enigmaticregular';
  color: #4d2e9b;
  line-height: 48px;
  text-align: center;
  background: white;
  margin-left: -40px;
  margin-top: 5px;
  border: 1px solid #cecece;
  border-radius: 30px;
}

.dummykotak {
  height: 60px;
  width: 20px;
  margin-top: -20px;
}

.formdivider {
  width: 280px;
  height: auto;
  margin-left: 24px;
  margin-top: 100px;
}

.formdivider2 {
  width: 280px;
  height: auto;
  margin-left: -417px;
  margin-top: 150px;
}

.listbahan {
  font-size: 15px;
  color: #4d2e9b;
}

.tisting {
  color: red;
  font-size: 50px;
  margin-top: 300px;
  position: absolute;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #303030;
  width: 175px;
  height: 175px;
  opacity: 0.5;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin-left: 850px;
  margin-top: 300px;
}

.sekat {
  height: 50px;
  width: 100%;
}

.imgholder {
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  height: auto;
  width: 100%;
}

.dudukan {
  height: auto;
  width: 1200px;
  margin-left: 375px;
  margin-top: 60px;
}

.dataholder {
  display: inline;
  height: auto;
  width: 300px;
  background-image: linear-gradient(to right, #1b007c, #4d2e9b, #7757bb, #9f81db, #c7adfb);
  box-shadow: 1px 1px 2px black, 0 0 15px black, 0 0 5px black;
}

.previewimg {
  /* border: 1px solid white; */
  position: absolute;
  z-index: 1;
  height: 113px;
  width: 198px;
  margin-top: -149px;
  margin-left: 915px;
  /* box-shadow: 1px 1px 2px black, 5px 5px 10px black, 0 0 5px black; */
}

.poto:hover {
  color: #9e5ffc;
}

.dropzone {

}


.sibal{
  margin-left: 1123px;
  margin-top: -100px;
  color: white;
  cursor: pointer;
  width: 16px;
  height: 1px;
}

.poto {
  background-color: #e5e5e5;
  position: absolute;
  z-index: 0;
  text-align: center;
  color: #919191;
  line-height: 105px;
  padding: 5px 10px;
  border: 1px solid #c6c6c6;
  font-family: 'enigmaticregular';
  border-radius: 5px;
  font-size: 20px;
  margin-top: -150px;
  margin-left: 914px;
  height: 115px;
  width: 200px;
}

.rectangle {
  position: absolute;
  margin-left: 24px;
  margin-top: 35px;
  color: #4d2e9b;
  width: 740px;
}

.formfoto {
  position: fixed;
  margin-left:1050px;
  margin-top: 130px;
}


.modalholder {
  font-family: 'enigmaticregular';
  height: 125px;
  width: 250px;
  background-color: white;
  color: #9800ff;
  font-size : 20px

}

.bagikan:hover {
  background-color: #9e5ffc;
  color: white;
}

textarea {
  resize: none;
}

.bagikan {
  font-family: 'enigmaticregular';
  background-color: #4d2e9b;
  color: white;
  padding: 10px 15px;
  font-size: 25px;
  width: 580px;
  margin-left: 110px;
  margin-top: 80px;
  border-radius: 35px;
  position: absolute;
  z-index: 1;
}

.uploadbtn:hover {
  background-color: #ad0fff;
}
.uploadbtn {
  font-family: 'enigmaticregular';
  background-color: #4d2e9b;
  border: none;
  width: 100px;
  color: white;
  padding: 1px 10px;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 0px;
  border-width: 1px;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
}

#formwidth1 {
  font-family: 'enigmaticregular';
  width: 750px;
  height: 60px;
  font-size: 30px;
  color: #4d2e9b
}

.resepformholder {
  height: 100%;
  width: 800px;
  margin-left: 0px;
  margin-top: 100px;
}

.tulisresepbutton:hover {
  color: white;
  text-decoration: none;
  background-color: #9f81db;
}

.tulisresepbutton {
  position: absolute;
  z-index: 0;
  font-family: 'enigmaticregular';
  background-color: #4d2e9b;
  border: none;
  color: white;
  padding: 11px;
  height: 50px;
  width: 155px;
  font-size: 20px;
  margin-left: 880px;
  margin-top: 330px;
  top: 0;
  border-radius: 30px;
}

.formcari {
  position: absolute;
  margin-left: 613px;
  margin-top: 180px;
}

.formcarikecil {
  position: fixed;
  z-index: 3;
  margin-left: 733px;
  margin-top: 20px;
}


#tom {
  position: absolute;
  height: 60px;
  width: 70px;
  font-size: 29px;
  margin-left: 546px;
  color: purple;
  text-align: center;
  border-radius: 5px;
}

#tom2 {
  font-family: 'enigmaticregular';
  font-size: 17px;
  margin-left: 326px;
  margin-top: -60px;
  height: 37px;
}

#forml2 {
  width: 300px;
  height: 37px;
  margin-top: -5px;
  font-size: 14px;
  border-radius: 5px;
}

#forml:focus {
  background-color: #e5e5e5
}

#forml {
  position: absolute;
  width: 520px;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
}

.kotak {
  position: relative;
  z-index: -5;
  height: 450px;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 2px black, 0 0 5px black, 0 0 5px black;
}

.boxtest {
  height: 3000px;
  width: 100px;
  background-image: linear-gradient(to right, #1b007c, #4d2e9b, #7757bb, #9f81db, #c7adfb);
}

#navb {
  position: fixed;
  background-image: linear-gradient(to right, #1b007c, #4d2e9b, #7757bb, #9f81db, #c7adfb);
  top: 0;
  height: 70px;
  width: 102%;
  border-width: 0px;
  z-index: 0;
}

.regsu {
  animation: fade 4s;
  animation-delay: 2s;
  position: fixed;
  font-family: 'enigmaticregular';
  background-color: #008e40;
  border: none;
  color: white;
  padding: 15px 62px;
  width: 350px;
  font-size: 25px;
  margin-left: 790px;
  margin-top: 570px;

  box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  border-radius: 15px;
  border-style: solid;
  border-color: #cccccc;
}

.alert {
  font-family: 'sansation_lightlight';
  font-size: 17px;
  color: red;
}

.welcoeg {
  font-family: 'sansation_lightlight';
  font-size: 15px;
  text-align: center;
  color: #d1d1d1;
  margin-left: 450px;
  margin-top: 250px;
}

.buttonw:hover {
  border-color: white;
  background-color: #9e5ffc;
}

.fb {
  padding: 10px 10px;
  height: 75px;
  width: 75px;
}

.tw {
  padding: 10px 10px;
  height: 75px;
  width: 75px;
}

.ins {
  padding: 10px 10px;
  height: 78px;
  width: 78px;
}

.inifollow {
  font-family: 'enigmaticregular';
  background-color: #9800ff;
  border: none;
  color: white;
  padding: 1px 12px;
  text-align: center;
  width: 150px;
  font-size: 20px;
  margin-left: 40px;
  margin-top: -40px;
  border-radius: 8px;
  border-style: solid;
  border-color: white;
}

.follow {
  background-color: transparent;
  color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 15px;
  border-style: solid;
  border-color: white;

  position: fixed;
  height: auto;
  width: auto;
  margin-top: 650px;
  margin-left: 583px;
}


.bgform {
  position: fixed;
  border-radius: 35px;
  height: 635px;
  width: 500px;
  background: rgb(141,2,240);
  background: linear-gradient(167deg, rgba(141,2,240,1) 0%, rgba(191,191,191,1) 50%, rgba(141,2,240,1) 100%);
  margin-left: 720px;
  margin-top: 145px;
  box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  border-radius: 15px;
  border-style: solid;
  border-color: #cccccc;
}

.logform {
  position: fixed;
  border-radius: 35px;
  height: 380px;
  width: 500px;
  background: rgb(141,2,240);
  background: linear-gradient(167deg, rgba(141,2,240,1) 0%, rgba(191,191,191,1) 50%, rgba(141,2,240,1) 100%);
  margin-left: 720px;
  margin-top: 145px;
  box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  border-radius: 15px;
  border-style: solid;
  border-color: #cccccc;
}

.test {
  border-radius: 35px;
  height: 680px;
  width: 500px;
  margin-left: 933px;
  margin-top: -500px;
}

.form-control {
  width: 450px;
  margin-left: 23px;
  font-size: 15px;
  font-family: 'sansation_lightlight'
}

.labelf {
  margin-left: 23px;
  font-size: 25px;
  font-family: 'sansation_lightlight';
  color: white;
}

.labelg {
  margin-left: 23px;
  font-size: 30px;
  font-family: 'enigmaticregular';
  color: white;
  /* color: #4d2e9b; */
}

.buttonw {
  background-color: #9800ff;
  position: fixed;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 650px;
  margin-top: -35px;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
  font-family: 'enigmaticregular';
}

.dft {
  font-family: 'enigmaticregular';
  background-color: #ad0fff;
  border: none;
  color: white;
  padding: 10px 102px;
  font-size: 25px;
  margin-left: 105px;
  margin-top: 30px;
  border-radius: 15px;
  border-style: solid;
  border-color: white;
}

#noteinvalid {
  position: fixed;
  font-family: 'enigmaticregular';
  color: white;
  font-size: 17px;
  margin-left: 100px;
  margin-top: 30px;
  background-color: red;
  width: 300px;
  text-align: center;
  border-width: 2px;
  border-color: white;
  opacity: 0.8;
}

.dft:hover {
  box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  background-color: #d69bff;
}

.invalidbutton {
  position: fixed;
  font-family: 'enigmaticregular';
  background-color: red;
  border: none;
  color: white;
  padding: 15px 22px;
  width: 220px;
  font-size: 25px;
  margin-left: 27px;
  margin-top: -36px;
  border-radius: 15px;
  border-style: solid;
  border-color: white
}

.togglerreg:hover {
  box-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
  background-color: #d69bff;
}

.regb {
  position: fixed;
  font-family: 'enigmaticregular';
  background-color: #9800ff;
  border: none;
  color: white;
  padding: 15px 22px;
  width: 220px;
  font-size: 25px;
  margin-left: 27px;
  margin-top: -36px;
  border-radius: 55px;
  border-style: solid;
  border-color: white
}

.togglerreg {
  z-index: 1;
  position: fixed;
  font-family: 'enigmaticregular';
  background-color: #9800ff;
  border: none;
  color: white;
  padding: 10px 10px 10px 10px;
  height: 53px;
  width: 53px;
  font-size: 22px;
  margin-left: 946px;
  margin-top: 120px;
  border-radius: 50%;
  border-style: solid;
  border-color: white
}

/* .spacer {
height: 300px;
width: 50%;
opacity: 0.2;
display: block;
background-color: black;
opacity: 0.5;
} */


.bigw {
  position: fixed;
  margin-top: 190px;
  font-family: 'enigmaticregular';
  margin-left: 530px;
  font-size: 40px;
  color: white;
  text-align: center;
}

/* .sider {
display: block;
height: 100%;
width: 300px;
float: right;
background-color: black;
opacity: 0.5;
}

.sidel {
display: block;
height: 100%;
width: 300px;
float: left;
background-color: black;
opacity: 0.5;
} */

.statistic {
  background: rgb(48,0,82);
  background: linear-gradient(14deg, rgba(48,0,82,1) 0%, rgba(109,0,204,1) 50%, rgba(42,0,73,1) 100%);
  margin-left: 30px;
  margin-right: 30px;
  border-style: solid;
  border-width: 3px;
  border-color: #b663ff;
}

.card {
  margin-top: 15px;
  margin-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  text-align: center;
}

.pp {
  border-style: solid;
  border-width: 5px;
  border-color: white;
  height: 200px;
  width: 200px;
}

.spacer2 {
  height: 30px;
  width: auto;
  display: block;
}

.pn {
  font-family: 'enigmaticregular';
  font-size: 34px;
  color: white;
  margin-left: 240px;
  margin-top: -150px;
}

.brand:hover {
  color : white;
  font-size: 50px;
  margin-top: -10px;
}


.divider {
  margin-top: 150px;
  margin-left: 30px;
}

.landingpro {
  z-index: -1;
  margin-left: 305px;
  margin-top: 70px;
  height: 100%;
  width: 65%;
  background-color: white;
}

.darkbar {
  z-index: 2;
  position: fixed;
  position: -webkit-sticky;
  display: block;
  z-index: -1;
  min-width: 100%;
  min-height: 70px;
  height: 70px;
  width: 100%;
  background-color: black;
  opacity: 0.5;
}

.topnavlist1:hover {
  color: white;
  margin-top: 10px;
  font-size: 23px;
  text-decoration: none;
}
.topnavlist2:hover {
  color: white;
  margin-top: 10px;
  font-size: 23px;
  text-decoration: none;
}
.topnavlist3:hover {
  color: white;
  margin-top: 10px;
  font-size: 23px;
  text-decoration: none;
}

.topnavlist4:hover {
  color: white;
  margin-top: 10px;
  font-size: 23px;
  text-decoration: none;
}

.wrapper {
  position: relative;
}

.brand {
  z-index: 5;
  top:0;
  text-align: center;
  position: fixed;
  position: -webkit-sticky;
  font-family: 'circulat';
  font-size: 40px;
  color: white;
  float: left;
  padding: 10px 10px 10px 10px;
}

.topnavlist1 {
  border-left: 1px solid white;
  z-index: 5;
  top:0;
  position: fixed;
  position: -webkit-sticky;
  font-family: 'enigmaticregular';
  font-size: 20px;
  color: white;
  margin-top: 12px;
  padding: 10px 25px 10px;
  margin-left: 1375px;
  cursor: pointer;
}

.topnavlist2 {
  top:0;
  z-index: 5;
  border-left: 1px solid white;
  position: fixed;
  position: -webkit-sticky;
  font-family: 'enigmaticregular';
  font-size: 20px;
  color: white;
  margin-top: 12px;
  padding: 10px 20px 10px;
  margin-left: 1680px;
  cursor: pointer;
}

.topnavlist3 {
  top:0;
  z-index: 5;
  border-left: 1px solid white;
  position: fixed;
  position: -webkit-sticky;
  font-family: 'enigmaticregular';
  font-size: 20px;
  color: white;
  margin-top: 12px;
  padding: 10px 20px 10px;
  margin-left: 1530px;
  cursor: pointer;
}

.topnavlist4 {
  top:0;
  z-index: 5;
  border-left: 1px solid white;
  position: fixed;
  position: -webkit-sticky;
  font-family: 'enigmaticregular';
  font-size: 20px;
  color: white;
  margin-top: 12px;
  padding: 10px 35px 10px;
  margin-left: 1230px;
  cursor: pointer;
}

.kepala {
  height: auto;
  width: 100%;
}

.bg {
  position: fixed;
  background-attachment:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #1b007c, #4d2e9b, #7757bb, #9f81db, #c7adfb);
}
